# Clustering VoC

Date: 2025/5/7

## Dataset (CC0 license)

DATASET: Digital Voice-of-Customer on sharing mobility services

https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/JXK3Z8

Publication: MOBI-Qual: a common framework to manage the product-service system quality of shared mobility

https://link.springer.com/article/10.1007/s10696-023-09520-y

EmbeddingとK-means法を使って、問い合わせをクラスタリング

https://qiita.com/Tokoroteen/items/c2974c76baf05c59b94d

In [4]:
DATA_PATH = "dataset/Digital VoC Dataset.xlsx"

In [9]:
import pandas as pd

df = pd.read_excel(DATA_PATH)
df.head()

,ID,Fonte,Country,Provider,Type,Data,Rating,Review
0,1,Yelp!,UNITED STATES,Zipcar,Station based,38749,5,Did you know you can make a zipcar reservation...
1,2,Yelp!,UNITED STATES,Zipcar,Station based,38749,5,I've been meaning to write up Zipcar for a whi...
2,3,Yelp!,UNITED STATES,Zipcar,Station based,38749,4,EDIT 2/21: After a slightly messy first Zipcar...
3,4,Yelp!,UNITED STATES,Zipcar,Station based,38749,5,I love Zipcar I have be a pround member sinc...
4,5,Yelp!,UNITED STATES,Zipcar,Station based,38777,5,Flexcar is the answer for those of us that are...

In [22]:
len(df)

11127

In [27]:
# "Fonte" in Italian means "Source" in English.

df = df.rename(columns={"Fonte": "Source"})
df.head()

,ID,Source,Country,Provider,Type,Data,Rating,Review
0,1,Yelp!,UNITED STATES,Zipcar,Station based,38749,5,Did you know you can make a zipcar reservation...
1,2,Yelp!,UNITED STATES,Zipcar,Station based,38749,5,I've been meaning to write up Zipcar for a whi...
2,3,Yelp!,UNITED STATES,Zipcar,Station based,38749,4,EDIT 2/21: After a slightly messy first Zipcar...
3,4,Yelp!,UNITED STATES,Zipcar,Station based,38749,5,I love Zipcar I have be a pround member sinc...
4,5,Yelp!,UNITED STATES,Zipcar,Station based,38777,5,Flexcar is the answer for those of us that are...

In [10]:
df.Provider.unique()

array(['Zipcar', 'Enterprice Car Share', 'Car2go', 'piccolo',
       'GoGet CarShare', 'DriveNow', 'Hertz 24', 'Evo Car Share',
       'Ubeeqo', 'Maven'], dtype=object)

In [11]:
df.Type.unique()

array(['Station based', 'Free floating', 'Mixed'], dtype=object)

In [12]:
df.Country.unique()

array(['UNITED STATES ', 'CANADA', 'AUSTRALIA', 'Non specificata ', 'UK'],
      dtype=object)

In [13]:
df.Fonte.unique()

array(['Yelp!', 'Playstore', 'Google', 'Trustpilot.com', 'Facebook'],
      dtype=object)

In [16]:
df.groupby("Provider").Provider.count()

Provider
Car2go                  3003
DriveNow                 599
Enterprice Car Share     547
Evo Car Share            585
GoGet CarShare           252
Hertz 24                 151
Maven                    313
Ubeeqo                   154
Zipcar                  5259
piccolo                  264
Name: Provider, dtype: int64